@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.banner{
  margin-left:calc(-1*var(--innerPage-padding));
  margin-right:calc(-1*var(--innerPage-padding));
  margin-bottom:calc(var(--innerPage-padding)/2);
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '\2022';
  text-align: center;
  opacity: .5;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: white;
}